{{- $use_complex_pagination := (.Site.Params.pagination.use_complex | default false) }}
{{- $use_first_and_last_item := (.Site.Params.pagination.use_first_and_last_item | default false) }}
{{- $show_disabled_items := (.Site.Params.pagination.show_disabled_items | default false) }}

{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) }}

	<div class="pagination">

		{{- if $use_first_and_last_item  }}

			{{- if gt .Paginator.PageNumber 1 }}
				<a class="pagination__item pagination__item--first btn" href="{{ .Paginator.First.URL }}">««</a>
			{{- else }}
				{{- if $show_disabled_items }}
					<span class="pagination__item pagination__item--first disabled">««</span>
				{{- end }}
			{{- end }}
		{{- end }}

		{{- if .Paginator.HasPrev }}
			<a class="pagination__item pagination__item--prev btn" href="{{ .Paginator.Prev.URL }}">«</a>
		{{- else }}
			{{- if $show_disabled_items }}
				<span class="pagination__item pagination__item--prev disabled">«</span>
			{{- end }}
		{{- end }}


		{{- if $use_complex_pagination }}
			<span class="pagination__item pagination__item--current">
				{{- .Paginator.PageNumber }}/{{ .Paginator.TotalPages -}}
			</span>
		{{- else }}
			<span class="pagination__item pagination__item--current">
				{{- .Paginator.PageNumber }}/{{ .Paginator.TotalPages -}}
			</span>
		{{- end }}

		{{- if .Paginator.HasNext }}
			<a class="pagination__item pagination__item--next btn" href="{{ .Paginator.Next.URL }}">»</a>
		{{- else }}
			{{- if $show_disabled_items }}
				<span class="pagination__item pagination__item--prev disabled">»</span>
			{{- end }}
		{{- end }}

		{{- if $use_first_and_last_item  }}
			{{- if lt .Paginator.PageNumber .Paginator.TotalPages  }}
				<a class="pagination__item pagination__item--last btn" href="{{ .Paginator.Last.URL }}">»»</a>
			{{- else }}
				{{- if $show_disabled_items }}
					<span class="pagination__item pagination__item--last disabled">»»</span>
				{{- end }}
			{{- end }}
		{{- end }}
	</div>

{{- end }}