{{ $paginator := .Paginator }}

{{ $use_complex_pagination := (.Site.Params.pagination.use_complex | default false) }}
{{ $use_first_and_last_item := (.Site.Params.pagination.use_first_and_last_item | default false) }}
{{ $show_disabled_items := (.Site.Params.pagination.show_disabled_items | default false) }}

{{ $index := 1 }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}

	<div class="pagination">

		{{if $use_first_and_last_item}}

			{{if gt $paginator.PageNumber 1 }}
				<a class="pagination__item pagination__item--first btn" href="{{ $paginator.First.URL }}">««</a>
			{{else}}
				{{if $show_disabled_items }}
					<span class="pagination__item pagination__item--first disabled">««</span>
				{{end}}
			{{end}}
		{{end}}

		{{if $paginator.HasPrev}}
			<a class="pagination__item pagination__item--prev btn" href="{{ $paginator.Prev.URL }}">«</a>
		{{else}}
			{{if $show_disabled_items }}
				<span class="pagination__item pagination__item--prev disabled">«</span>
			{{end}}
		{{end}}


		{{if $use_complex_pagination }}

				<span class="pagination__item pagination__item--current">
					{{- $paginator.PageNumber }}/{{ $paginator.TotalPages -}}
				</span>

		{{else}}
			<span class="pagination__item pagination__item--current">
				{{- $paginator.PageNumber }}/{{ $paginator.TotalPages -}}
			</span>
		{{end}}

		{{if $paginator.HasNext }}
			<a class="pagination__item pagination__item--next btn" href="{{ $paginator.Next.URL }}">»</a>
		{{else}}
			{{if $show_disabled_items }}
				<span class="pagination__item pagination__item--prev disabled">»</span>
			{{end}}
		{{end}}

		{{if $use_first_and_last_item }}
			{{if lt $paginator.PageNumber .Paginator.TotalPages }}
				<a class="pagination__item pagination__item--last btn" href="{{ $paginator.Last.URL }}">»»</a>
			{{else}}
				{{if $show_disabled_items}}
					<span class="pagination__item pagination__item--last disabled">»»</span>
				{{end}}
			{{end}}
		{{end}}
	</div>

{{end}}